.header {
    padding: 10px;
    height: 22px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.searchBar{
    width: 250px;
    display: flex;
}

.searchBar:hover > input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}


.searchBar input{
    padding-left:  10px;
    height: 20px;
    width:250px;
    border: none;
    outline: none;
    background-color: lightgrey;
    border-radius: 10px;
}



.searchBar button{
    border: none;
    background-color: lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

