.tile{
    padding: 5px;
    width: 45%;
    height: auto;
    max-height: 300px;
    background-color: white;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.tile img{
    align-self: center;   
}   

